/* Container for the Log In Page */
.login-page-container {
    text-align: center;
    margin-top: 50px;
  }
  
  /* Heading */
  .login-page-container h1 {
    margin-bottom: 30px; 
    font-size: 36px;
    font-weight: bold;
  }
  
  /* Input boxes */
  .login-form {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 20px;
  }
  
  /* Input Field */
  .login-form input {
    width: 300px;
    padding: 10px;
    margin: 0; 
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Submit Button */
  .login-form .submit-button {
    width: 300px; 
    padding: 10px 20px;
    background-color: #6f89a6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-form .submit-button:hover {
    background-color: #555;
  }
  
  /* Return Button */
  .tilbage-button {
    width: 300px; 
    padding: 10px 20px;
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
  }
  
  .tilbage-button:hover {
    background-color: #bbb;
  }
  